.container-det {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 36px 0;
  height: 100vh;
}

.doctor-div {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.doctor-det {
  padding: 0 20px 0 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.doc-img {
  margin: 15px;
  height: 70vh;
}

.back-btn {
  width: 100px;
  height: 65px;
  border: none;
  border-radius: 0 30px 30px 0;
  color: white;
  background-color: #98bf11;
}

tr:nth-child(even) {
  background-color: #e2e3e5;
}

td {
  padding: 15px;
}

.reserve-btn {
  width: 200px;
  height: 65px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #98bf11;
}

@media only screen and (max-width: 768px) {
  .container-det {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .doctor-div {
    width: 100%;
    height: 510px;
    flex-direction: column-reverse;
  }

  .doc-img {
    width: 50%;
    margin: 15px;
    height: 210px;
  }

  .doctor-det {
    padding: 0 20px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
