.container-det {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 36px 0;
  height: 100vh;
}

.doctor-div {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.doctor-det {
  padding: 0 20px 0 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.doc-img {
  margin: auto;
  height: 60vh;
  width: 80%;
}

.back-btn {
  width: 100px;
  height: 65px;
  border: none;
  border-radius: 0 30px 30px 0;
  color: white;
  background-color: #98bf11;
}

tr:nth-child(even) {
  background-color: #e2e3e5;
}

td {
  padding: 15px;
}

.reserve-btn {
  width: 200px;
  height: 65px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #98bf11;
}

@media only screen and (max-width: 768px) {
  .container-det {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .table td {
    padding: 10px;
    font-size: small;
  }

  .doctor-div {
    width: 100%;
    height: 310px;
    flex-direction: column-reverse;
  }

  .back-btn {
    width: 70px;
    height: 50px;
  }

  .doc-img {
    width: 45%;
    margin: 15px;
    height: 170px;
  }

  .doctor-det {
    padding: 0 15px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .reserve-btn {
    width: 170px;
    height: 55px;
  }
}
